#our-story {
	padding-top: 76px;
	margin: 0 auto;
}

h1 {
	padding-left: 469px;
}

p {
	color: white;
	font-size: 20px;
	word-spacing: 1px;
	line-height: 39px;
	text-align: center;
}

#our-team {
	padding-top: 11px;
}

.row {
	padding-left: 10px;
	padding-top: 13px;
}

.row p {
	font-size: 22px;
}

img {
	width: 83%;
	border-radius: 50%;
	margin-left: 25px;
}

#jake-image {
	width: 79%;
}

#antonio-name {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#jake-name {
	padding-right: 3px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#katie-name {
	padding-left: 11px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ivette-name {
	padding-left: 9px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}